# requirements.txt

flask
torch
torchvision
numpy
Pillow
huggingface_hub
timm
opencv-python
matplotlib
grad-cam
segment-anything-2-medsam @ git+https://github.com/bowang-lab/MedSAM.git#subdirectory=segment_anything_2
